.header {
  font-family: monospace;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.sub-header{
  font-family: monospace;
  font-size: 35px;
  padding-left: 40px;
  padding-top: 1px;
  color: #808080;
}

.logo{
  border-bottom: 3px solid #008080;
}

img{
  width: 100px;
}

span{
  color: #008080;
}
